$yellow-100: #FFDC62;
$yellow-80: #FFE381;
$yellow-70: #FFE791;
$yellow-50: #FFEDB0;
$text-black: #252525;
$text-blue: #2D3F58;
$text-grey: #656565;

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}