body {
    margin: 0;
    background-color: #232323;
}

.wrapper {
    margin: auto;
}

.section1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 2511px;
    background-image: url('../images/loding\ BG.png');
    background-repeat:repeat-x;

    .navbar {
        position:fixed;
        top: 0;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        color: white;

        .navbar__item {
            display: flex;
        }
    }
}

.title {
    top: 15%;
    width: 875px; 
    height: 192px;
    background-image: url('../images/loding.svg');
    background-repeat: no-repeat;
    background-size: contain;
}