@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Raleway&display=swap');

$primary-purple: #5B39F4;
$hover-purple: #866BFF;
$primary-pink: #D96EE9;
$hover-pink: #ED82FD;
$font-color-db: #00162A;
$bg: #EFDFD2;

body {
    margin: 0;
    background-color: #EFDFD2;
    font-family: 'Noto Sans TC', sans-serif;
    color:$font-color-db;
}

.wrapper {
    margin: auto;
    width: 100%;
    height: 500vh;

    background-image: url('../images/bg-dec.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing:border-box;
    padding: 0 5rem;
    width: 100%;
    height: 125px;

    position: fixed;
    top: 0;
    
    z-index: 10;

    font-size: 14px;

    .logo {
        width: 150px;
        height: 20px;
        background-image: url('../images/logo-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .nav__group {
        display: flex;
        align-items: center;
    }

    .nav__item {
        margin: 0 20px;
        transition: 0.3s;
    }

    .nav__item:hover {
        color: $primary-purple;
        cursor: pointer;
    }

    .nav__btn {
        display: flex;
        align-items: center;
        margin-left: 20px;
        padding: 12px 24px;   
        border-radius: 4px;
    }

    .nav__join {
        background: $primary-purple;
        border: 1px solid #FFFFFF;
        color: white;
        transition: 0.3s;
        svg {
            fill: white;
        }
    }

    .nav__join:hover {
        background-color: $hover-purple;
        cursor: pointer;
    }

    .nav__login {
        background: rgba(255,255,255,0);background: $bg;
        border: 1px solid $primary-purple;
        color: $primary-purple;
        transition: 0.3s;
        svg {
            fill: $primary-purple;
        }
    }

    .nav__login:hover {
        color: white;
        background-color: $primary-purple;
        cursor: pointer;
        svg {
            fill: white;
        }
    }
}

.section1 {
    position: fixed;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;

    .title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        position: absolute;
        top: 30%;
        left: 20%;

        color: $primary-pink;
        font-family: 'Raleway', sans-serif;
        font-size: 122px;

        .handwrite {
            display: flex;
            justify-content: center;
            align-items: center;
            
            margin-left: 20px;
            width: 200px;
            height: 160px;
            
            font-size: 0.5em;
            color: $font-color-db;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .subtitle {
        margin-top: 20px;
        font-size: 50px; 
        color: $font-color-db;
    }

    .gems {
        div{
            position: fixed;
            width: 150px;
            height: 150px; 
            background-repeat: no-repeat;
            background-size: contain;
        }

        .gem-1 {            
            background-image: url('../images/gem-1.png');
            transform: scale(1.5);
            top: 52%;
            left: 6.5%;
        }
        .gem-2 {
            background-image: url('../images/gem-2.png');
            transform: scale(1.3);
            top: 75%;
            left: 28%;
        }
        .gem-3 {
            background-image: url('../images/gem-3.png');
            transform: scale(1.3);
            top: 57%;
            left: 55%;
        }
        .gem-4 {
            background-image: url('../images/gem-4.png');
            transform: scale(2);
            top: 27%;
            right: 15%;
        }
        .gem-5 {
            background-image: url('../images/gem-5.png');
            top: 75%;
            right: 10%;
        }
    }

    .stars {
        div { 
            position: fixed;

            height: 100px;
            width: 100px;
            
            opacity: 0; 
            background-image: url("../images/star.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .star-1 {
            transform: scale(0.65);
            top: 15%;
            left: 7%;
        }
        .star-2 {
            transform: scale(0.5);
            top: 80%;
            left: 15%;
        }
        .star-3 {
            transform: scale(0.8);
            top: 65%;
            left: 35%;
        }
        .star-4 {
            transform: scale(0.5);
            top: 55%;
            right: 30%;
        }
        .star-5 {
            transform: scale(0.8);
            top: 20%;
            right: 28%;
        }
        .star-6 {
            transform: scale(0.5);
            top: 85%;
            right: 7%;
        }
    }
}

.mask__box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .mask-outer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .mask-inner {
        opacity: 0.5;
        position: fixed;
        box-shadow: $primary-purple 0 0 0 2022px;
        border-radius: 500px;
        z-index: 5;

        div {
            width: 135vw;
            height: 150vh;
        }
    }
}

.section2 {
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100%;
}