@import "./helpers/reset";
@import "./helpers/variables";

@font-face {
    font-family: 'Cubic';
    src: local("Cubic 11"),
      url('../fonts/Cubic_11_1.013_R.woff') format("woff"),
      url('../fonts/Cubic_11_1.013_R.woff2') format("woff"),
      url('../fonts/Cubic_11_1.013_R.ttf') format("opentype");
  }

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Cubic';
}

.container {
    width: 1440px;
}

nav {
    @extend %center;
    width: 100vw;
    height: 56px;
    background-color: $primary;
    color: $secondary;
}

.nav-box {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    @extend %center;
    
    * {
        margin-right: 30px;
        cursor: pointer;
    }
}

%btn {
    @extend %center;
    background-color: white;
    color: $primary;

    &:hover {
        transform: translate(5px,5px)
    }
}

.btn-sm {
    @extend %btn;
    width: 104px;
    height: 35px;
}

.btn-md {
    @extend %btn;
    width: 148px;
    height: 43px;
}

.btn-lg {
    @extend %btn;
    width: 307px;
    height: 60px;
}

.btn-xl {
    @extend %btn;
    width: 1370px;
    height: 140px;
}

.nav-btn {
    @extend %center;
    margin-right: 30px;

    * {
        cursor: pointer;
    }
    :nth-child(1) {
        margin-right: 10px;
    }
}